@charset "UTF-8";
html {
  font-family: Arial;
  color: #666;
  background-color: rgba(255, 255, 255, 0);
}

fluff, require, card rule, gimmick rule {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

.gimmick-container {
  column-count: 1;
}

@media (min-width: 500px) {
  .gimmick-container {
    column-count: 2;
  }
}
@media (min-width: 900px) {
  .gimmick-container {
    column-count: 3;
  }
}
@media (min-width: 1300px) {
  .gimmick-container {
    column-count: 4;
  }
}
@media (min-width: 1700px) {
  .gimmick-container {
    column-count: 5;
  }
}
@media (min-width: 2100px) {
  .gimmick-container {
    column-count: 6;
  }
}
@media print {
  html {
    color: #000;
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
  }

  .gimmick-container {
    column-count: 3;
    /*font-size: 0.85em;*/
  }
}
gimmick {
  display: inline-block;
  padding: 6px 0.5em 0.5em 46px;
  margin: 0.5em 0;
  /*width: 20em;*/
  width: 100%;
  border: 1px solid;
  border-radius: 0.5em;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(111, 149, 19, 0.15), rgba(111, 149, 19, 0));
}
gimmick:before {
  content: url("../img/neutral-trait-tile.svg");
  margin-left: -40px;
  margin-bottom: -32px;
  display: block;
}
gimmick label {
  display: block;
  font-size: 1.5em;
}
gimmick[power="-1"] {
  background: linear-gradient(0deg, rgba(84, 125, 163, 0.15), rgba(84, 125, 163, 0));
}
gimmick[power="-1"]:before {
  content: url("../img/weakness-tile.svg");
}
gimmick[power="1"] {
  background: linear-gradient(0deg, rgba(175, 134, 9, 0.15), rgba(175, 134, 9, 0));
}
gimmick[power="1"]:before {
  content: url("../img/powerup-tile.svg");
}

@media print {
  gimmick {
    border-color: #999;
    border-width: 0.1pt;
  }
}
card {
  display: inline-block;
  padding: 6px 0.5em 0.5em 46px;
  margin: 0.5em 0;
  /*width: 20em;*/
  width: 100%;
  border: 1px solid;
  border-radius: 0.5em;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
card:before {
  content: url("../img/card-tactical.svg");
  margin-left: -40px;
  margin-bottom: -32px;
  display: block;
}
card label {
  display: block;
  font-size: 1.5em;
}
card.tactical {
  background: linear-gradient(0deg, rgba(84, 163, 94, 0.15), rgba(84, 163, 94, 0));
}
card.tactical:before {
  content: url("../img/card-tactical.svg");
}
card.covered-ops {
  background: linear-gradient(0deg, rgba(84, 147, 163, 0.15), rgba(84, 147, 163, 0));
}
card.covered-ops:before {
  content: url("../img/card-covered-ops.svg");
}
card.techno-magic {
  background: linear-gradient(0deg, rgba(147, 84, 163, 0.15), rgba(147, 84, 163, 0));
}
card.techno-magic:before {
  content: url("../img/card-techno-magic.svg");
}
card.leadership {
  background: linear-gradient(0deg, rgba(147, 84, 163, 0.15), rgba(147, 84, 163, 0));
}
card.leadership:before {
  content: url("../img/card-leadership.svg");
}

@media print {
  card {
    border-color: #999;
    border-width: 0.01pt;
  }
}
.discuss-marker {
  color: #aa3333;
}

variant {
  font-style: italic;
  font-size: 85%;
}
variant:after {
  content: ",";
}
variant:nth-last-of-type(1):after {
  content: "";
}
variant:nth-last-of-type(2):after {
  content: " or";
}
variant:nth-of-type(1):before {
  content: "e.g. ";
}

problem {
  display: block;
  border-radius: 4px;
  padding: 4px;
  color: #aa3333;
  background-color: #ea9;
}

problem::before {
  display: inline-block;
  height: 15px;
  width:15px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  content: "!";
  background-color: #944;
  color: #fff;
  margin-right: 6px;
  vertical-align: top;
}

fluff {
  color: #789;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
fluff:before {
  content: "“";
}
fluff:after {
  content: "”";
}

require:before {
  content: "✔";
  content: "☑ requires: ";
  content: "⚠️ requires ";
}

@media print {
  fluff {
    color: #000;
  }
}

/*# sourceMappingURL=style.css.map */
