@charset "utf-8";
@use "layout";

card{
	display: inline-block;
	padding: 6px 0.5em 0.5em 46px;
	margin: 0.5em 0;
	/*width: 20em;*/
	width: 100%;
	border: 1px solid;
	border-radius: 0.5em;
	box-sizing: border-box;
	background: linear-gradient( 0deg , rgba( 0 , 0 , 0 , 0.15 ) , rgba( 0 , 0 , 0 , 0.0 ) );

	&:before{
		margin-left: -40px;
		margin-bottom: -32px;
		display: block;
	}

	label{
		display: block;
		font-size: 1.5em;
	}

	rule{
		@extend %block;
	}

	&.tactical{
		background: linear-gradient( 0deg , rgba(84, 163, 94, 0.15) , rgba(84, 163, 94 , 0.0) );
		&:before{
			content: url("../img/card-tactical.svg");
		}
	}
}



@media print{
	card{
		border-color: #999;
		border-width: 0.01pt;
	}
}