@charset "utf-8";

gimmick{
	display: inline-block;
	padding: 6px 0.5em 0.5em 46px;
	margin: 0.5em 0;
	/*width: 20em;*/
	width: 100%;
	border: 1px solid;
	border-radius: 0.5em;
	box-sizing: border-box;
	background: linear-gradient( 0deg , rgba( 0 , 0 , 0 , 0.15 ) , rgba( 0 , 0 , 0 , 0.0 ) );

	&:before{
		margin-left: -40px;
		margin-bottom: -32px;
		display: block;
	}

	label{
		font-size: 1.5em;
		display: block;
	}

	rule{
		display: block;
	}

	&.gear{
		background: linear-gradient( 0deg , rgba( 98 , 78 , 83 , 0.15 ) , rgba( 98 , 78 , 83 , 0.0 ) );
		&:before{
			content: url("../img/gear.png");
		}
	}

	&.weakness{
		background: linear-gradient( 0deg , rgba( 84 , 125 , 163 , 0.15 ) , rgba( 84 , 125 , 163 , 0.0 ) );
		&:before{
			content: url("../img/weakness.png");
		}
	}

	&.powerup{
		background: linear-gradient( 0deg , rgba( 175 , 134 , 9 , 0.15 ) , rgba( 175 , 134 , 9 , 0.0 ) );
		&:before{
			content: url("../img/powerup.png");
		}
	}

	&.team{
		background: linear-gradient( 0deg , rgba( 111 , 149 , 19 , 0.15 ) , rgba( 111 , 149 , 19 , 0.0 ) );
		&:before{
			content: url("../img/team.png");
		}
	}

	&.shape{
		background: linear-gradient( 0deg , rgba( 149 , 66 , 55 , 0.15 ) , rgba( 149 , 66 , 55 , 0.0 ) );
		&:before{
			content: url("../img/shape.png");
		}
	}

	&.trait{
		@extend .shape;
	}
}

@media print{
	gimmick{
		border-color: #999;
		border-width: 0.01pt;
	}
}